div {
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}

div h1, div p {
    padding: 10px;
}

div li {
    padding: 4px;
}

ul, ol {
    list-style-position: inside;
}

img {
    width: 100%;
    height: 400px;

    margin: 20px 0;
}

.branch-name {
    font-size: 45px;
    text-align: center;
}