<section class="parties">
    <div class="party democrat">
        <h1 class="party-title">Democrat</h1>
        <img src="assets/democratdonkey.png" class="party-logo right" alt="" draggable="false"/>
        <h2 class="party-subtitle">1828-</h2>
        <p>{{ democrats.description }}</p>
    </div>
    <div class="party republican right">
        <h1 class="party-title">Republican</h1>
        <img src="assets/republicanelefant.png" class="party-logo right" alt="" draggable="false"/>
        <h2 class="party-subtitle">1854-</h2>
        <p>{{ republicans.description }}</p>
    </div>
    <div class="space"></div>
    <div class="party libertarian">
        <h1 class="party-title">Libertarian</h1>
        <img src="assets/libertarianporcupine.png" class="party-logo right" alt="" draggable="false"/>
        <h2 class="party-subtitle">1971-</h2>
        <p>{{ libertarians.description }}</p>
    </div>
    <div class="party green right">
        <h1 class="party-title">Green</h1>
        <img src="assets/greensunflower.png" class="party-logo right" alt="" draggable="false"/>
        <h2 class="party-subtitle">2001-</h2>
        <p>{{ greens.description }}</p>
    </div>
</section>