<div>
    
    <h1 class="branch-name" id="title">The Executive Branch</h1>
    <img src="./assets/whitehouse.webp">
    <p>The Executive branch of the federal government includes the President, Vice President, Cabinet members, and all federal department employees.</p>
    <p>The President is elected via the electoral college, not the popular vote. The electoral college is a group of electors given to each state that vote for a presidential/vice presidential ticket. A candidate wins an entire state's electoral votes if they win the popular vote there. While electors are not obligated to vote for the winner of their state’s popular vote, they almost always do. Out of 538 electoral votes, a candidate needs 270 to win.</p>
    <p>To be President, you have to be 35+ years old, a 14+ year citizen and resident, and have been born in the US. The same requirements apply to the Vice President.</p>
    <p>The President has a cabinet of members that oversee individual departments and help the president with certain issues. The cabinet consists of:</p>
    <ul>
        <li>Secretary of State</li>
        <li>Secretary of the Treasury</li>
        <li>Secretary of Defense</li>
        <li>Attorney General</li>
        <li>Secretary of the Interior</li>
        <li>Secretary of Agriculture</li>
        <li>Secretary of Commerce</li>
        <li>Secretary of Labor</li>
        <li>Secretary of Health and Human Services</li>
        <li>Secretary of Housing and Urban Development</li>
        <li>Secretary of Transportation</li>
        <li>Secretary of Education</li>
        <li>Secretary of Veterans Affairs</li>
        <li>Secretary of Homeland Security</li>
        <li>Administrator of the Environmental Protection Agency</li>
        <li>Director of National Intelligence</li>
        <li>US Trade Representative</li>
        <li>US Ambassador to the UN</li>
        <li>Chair of the Council of Economic Advisors</li>
        <li>Administrator of the Small Business Administration</li>
        <li>Director of the Office of Management and Budget</li>
        <li>Chief of Staff</li>
    </ul>
    <p>The President has the ability to sign or veto laws, appoint cabinet members, appoint judges, appoint ambassadors, and create the budget. They share some of these powers with Congress: The Senate has to approve of the nominees for the cabinet, ambassador positions, or judge positions, and both chambers of Congress have to approve the budget.</p>
    <p>The President also has the ability to sign executive orders. Executive orders are directives issued by the President that have the force of law but don’t have to go through Congress.</p>
    <p>With this, the President, Vice President, and any other federal official may be impeached if they commit acts of bribery, treason, or high crimes and misdemeanors. Impeachment starts with the US House of Representatives indicating the official by passing articles of impeachment. Then the US Senate holds a trial before voting on whether the official should be removed from office.</p>
    <p>The executive branch has limited powers compared to the legislative branch, just as the founding fathers intended.</p>
</div>
