<section class="politics">
    <div class="section-header">
        <h1>Political Parties in the United States</h1>
        <p>A political party is an organization that coordinates like-minded voters and chooses candidates for elections. In the United States, there have almost always been two large political parties with opposing stances competing with one another. Since 1860, these parties have been the Democrats and the Republicans (GOP), with support for each party ebbing and flowing as the political landscape of the United States continues to evolve. There are parties besides them, but these "third-parties" are much smaller and don't usually find much success in elections.</p>
    </div>
    <app-party></app-party>
    <div class="section-header">
        <h1>The Presidents</h1>
        <p>The President of the United States is the head of the United States government and commander-in-chief of the United States Armed Forces. As the leader of the country with the most powerful military, largest influence, and biggest economy, the US president is one of the most powerful people in the world. The president also has significant influence over policymaking by signing or vetoing bills. A presidential term lasts four years, and since 1947 with the passage of the 22nd Amendment, a president can only serve two terms.</p>
    </div>
    <app-presidents></app-presidents>
</section>